body{
    margin: 0;
    background: #323157;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}

#gameOver{
    position: absolute;
    float: left;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    font-weight: 400;
    margin: 0;
    opacity: 0;
    z-index: 10;
}

#finalScore{
    position: absolute;
    float: left;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    opacity: 0;
    z-index: 10;
}