body{
    margin: 0;
    background: #323157;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}