html, body, #__next{
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
}
body{
    background: black;
}

.link{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 30px; 
    margin: 0; 
}

.greenLink{
    color: greenyellow;
    text-align: center;
    font-weight: 600;
    font-size: 30px; 
    margin: 0; 
}

input{
    padding: 20px;
    width: 600px;
    border: 5px solid greenyellow;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

button{
    padding: 20px;
    width: 200px;
    height: auto;
    border: 5px solid greenyellow;
    background: black;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Bebas Neue', cursive;
}

button:hover{
    background: greenyellow;
    color: black;
}

li{
    color: white;
}

.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#ADFF2F);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}