html, body, #__next{
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
}
body{
    background: black;
}

.link{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 30px; 
    margin: 0; 
}

.greenLink{
    color: greenyellow;
    text-align: center;
    font-weight: 600;
    font-size: 30px; 
    margin: 0; 
}

input{
    padding: 20px;
    width: 600px;
    border: 5px solid greenyellow;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

button{
    padding: 20px;
    width: 200px;
    height: auto;
    border: 5px solid greenyellow;
    background: black;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Bebas Neue', cursive;
}

button:hover{
    background: greenyellow;
    color: black;
}

li{
    color: white;
}